<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telco Customer Churn</title>
    <style>

        .text3 {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
            color: #333;
            font-size: 18px;
            padding-left: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        /* Add more styling for the rest of your page content if needed */
    </style>
</head>

{{output | safe }}

<div class="text3">
    To Go back to Start page click the link below 
    <br>
    <a href="start"> Start Page </a>
</div>